.App {
}

.App-header {

}

.aws_input {
  display: flex;
  flex: 1;
  width: 400px;
  height: 65px;
  flex-direction: column;
  justify-content: space-between;

}

.submit {
  margin-left: 5px;
}

.chart {
  padding-top: 20px;
}